@page "/"

@using Syncfusion.Blazor.Navigations
@using FitnessTracker.Data
@inject FitnessService SampleService;

@if (SampleService.IsSmallDevice)
{
    <div class="e-tab-header-mobile-icon-container">
        <div class="e-tab-header-icon-div">
            <span class="e-tab-header-icon icon-Logo"></span>
        </div>
        <div class="e-tab-title">GO<span>FIT</span></div>
    </div>
    <div class="separator-div"></div>
}
<SfTab ID="fitness-tab" CssClass="tab-container" HeaderPlacement="@headerPlacement" @bind-SelectedItem="@tabSelectedItem">
    <TabItems>
        <TabItem>
            <ChildContent>
                <TabHeader Text="ACTIVITIES" IconCss="icon-Activities" IconPosition="top"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <Activities></Activities>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="DIET" IconCss="icon-Diet" IconPosition="top"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <Diet></Diet>
            </ContentTemplate>
        </TabItem>
        <TabItem>
            <ChildContent>
                <TabHeader Text="FASTING" IconCss="icon-Fasting" IconPosition="top"></TabHeader>
            </ChildContent>
            <ContentTemplate>
                <Fasting></Fasting>
            </ContentTemplate>
        </TabItem>
        @if (SampleService.IsSmallDevice)
        {
            <TabItem>
                <ChildContent>
                    <TabHeader Text="PROFILE" IconCss="icon-Profile" IconPosition="top"></TabHeader>
                </ChildContent>
                <ContentTemplate>
                    <div class="e-dashboardlayout-container  e-profile-dashboardlayout-container">
                      <div class="col-md-12 col-sm-12 e-profile-panel">
                        <div id="profile-panel-id" class="e-panel e-profile-panel" data-row="0" data-col="0" data-sizeX="1" data-sizeY="1">
                          <div class="e-panel-container">
                            <Profile></Profile>
                          </div>
                        </div>
                      </div>
                    </div>
                </ContentTemplate>
            </TabItem>
        }
    </TabItems>
</SfTab>

<ProfileDialog />

@code{
    private int tabSelectedItem { get; set; } = 0;
    private HeaderPosition headerPlacement { get; set; } = HeaderPosition.Top;
}